@use "../../assets/styles/sass/abstracts/vars" as *;

.cv {
  &__information {
    margin-left: 45px;
    margin-bottom: 50px;
  }
  &__information > li {
    list-style-type: disc;
  }
  &__information > li::marker {
    color: $base-color;
  }
}
