@use "../../assets/styles/sass/abstracts/vars" as *;

.address {
  margin-bottom: 50px;
  &__icon {
    width: 30px;
    color: $base-color;
    margin-right: 20px;
  }

  &__info {
    &-link {
      color: $link-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-list {
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}
