@use "../../assets/styles/sass/abstracts/vars" as *;

.timeline {
  height: 400px;
  overflow: auto;
  margin-bottom: 50px;
}

.timeline-list {
  position: relative;
  padding: 15px;

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  &:before {
    content: "";
    background: $base-color;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 10px;
    width: 4px;
    margin-left: 18px;
  }
}

.timeline-date {
  font-family: $base-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  padding: 15px;
  background: $white-color;
  position: relative;
  left: -15px;
}

.timeline-event {
  background: $info-color;
  padding: 15px;
  height: 138px;
  width: 100%;

  &__title {
    margin: 10px 0;
  }
  &--arrow {
    position: absolute;
    left: 76px;
    width: 10px;
    height: 13px;
  }
}
