@use "../../assets/styles/sass/abstracts/vars" as *;

.portfolio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 194px;
  overflow: hidden;
  position: absolute;
  left: 0;
  padding: 20px 15px;
  background: hsla(0, 0%, 100%, 0.95);
  border: 1px solid #ddd;
  box-sizing: border-box;
  top: 100%;
  opacity: 0;
  transition: all 0.5s ease 0s;

  &__title {
    color: $base-color;
  }

  &__link {
    color: $base-color;
  }
}
