@use "./assets/styles/sass/abstracts/reset";
@use "./assets/styles/sass/abstracts/media-queries";

.cv {
	display: flex;
	position: relative;
	font-family: 'Open-Sans';
	color: #222935;
  }

.cv-content {
	position: absolute;
	
	padding: 50px 30px 100px 30px;
	flex-grow: 1;
	transition: all 0.3s ease;
	&--right {
		left: 250px;
	}

	&--left {
		left: 0;
	}
}

.cv-content.move {
	margin-left: 0px;
}

.cv-panel {
	width: 250px;
	height: 100%;
	background: #222935;
	position: fixed;
}
